@import 'variables/colors';

@import 'variables/sizes';

$image-max-width: 800px;

.image {
  border-radius: 4px;
  flex: 0 2 $image-max-width;
  min-width: 250px;
  object-fit: cover;
  height: auto;
  width: 100%;
}

.heading {
  flex: 1 1;
}

.container {
  background-color: $white;
  border-radius: 4px;
}

.description {
  max-width: $image-max-width;
  color: $secondary;
}

@media screen and (max-width: $breakpoint-tablet) {
  .header {
    flex-direction: column;
  }

  .image {
    flex: auto;
    margin-bottom: 32px;
  }

  .heading {
    padding: 0;
  }
}
