@import 'variables/colors';

@import 'variables/sizes';

.image {
  border-radius: 4px;
  object-fit: contain;
  height: 180px;
  width: 180px;
}

.city {
  min-width: 110px;
}

.price {
  font-size: 24px;
  line-height: 30px;
}

.free-shipping-icon {
  height: 18px;
}

.break {
  height: 1px;
  margin: auto;
  width: 95%;
  background-color: $background;
}

@media screen and (max-width: $breakpoint-tablet) {
  .city {
    min-width: auto;
    text-align: left;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .description {
    width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}
