.button {
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  line-height: 22px;

  &.primary {
    background-color: $button-primary;
    color: $white;

    &:active {
      box-shadow: 0 0 10px 0 hsla(0, 0%, 60%, 0.5);
    }

    &:disabled {
      background-color: $secondary;
      cursor: default;
    }
  }
}
